# PostgreSQL
POSTGRES_USER=salle
POSTGRES_PASSWORD=salle_secret
POSTGRES_DB=salle_hospital

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET=xray-images

# API / ML / Dashboard
API_HOST=0.0.0.0
API_PORT=8000
ML_SERVICE_URL=http://ml:8001
DATABASE_URL=postgresql://salle:salle_secret@postgres:5432/salle_hospital

# Spark
SPARK_MASTER_URL=spark://spark-master:7077
