# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
.env.*
!.env.example

# Datos y artefactos
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/processed/manifest/.gitkeep
!data/processed/features/.gitkeep
!data/processed/features/**/preprocess_report.json
!data/processed/features/**/dataset_index.csv
!data/processed/watcher/.gitkeep
data/processed/watcher/*
*.pth
*.pt
*.ckpt
ml/models/*
!ml/models/.gitkeep

# Spark / logs
pipeline/spark-warehouse/
pipeline/metastore_db/
*.log

# IDE y OS
.idea/
.vscode/
.DS_Store

# MinIO local (si se monta fuera de volumen nombrado)
.minio/

# Airflow
airflow/logs/*
!airflow/logs/.gitkeep
airflow/airflow.db
